---
---

@import "{{ site.theme }}";

/* ===============================
   NOIR ABSOLU PARTOUT
================================ */

html, body,
.page-content,
.wrapper,
main,
header,
footer,
section,
div {
  background-color: #000000 !important;
}

/* ===============================
   TEXTE
================================ */

body {
  color: #8b95a5;
}

/* ===============================
   TITRES
================================ */

h1, h2, h3, h4, h5 {
  color: #2f4a7d;
  font-weight: 500;
  letter-spacing: 0.03em;
}

/* ===============================
   LI
